<div class='col-sm-8 col-sm-offset-2'>
  <div ng-model='todo_list' ui-sortable='sortableOptions'>
    <div class='panel panel-primary' ng-repeat='todo_list in todo_lists'>
      <div class='panel-heading' id='todo_list-{{todo_list.id}}' ng-mouseleave='optionsTodoList = false' ng-mouseover='optionsTodoList = true'>
        <div class='panel-title'>
          <span class='glyphicon glyphicon-calendar'></span>
          <span class='view' ng-dblclick='todo_listEdit()'>
            {{todo_list.title}}
          </span>
          <input autocomplete='off' autofocus class='form-control input-sm edit' id='edit-todo_list' ng-keyup='editTodoListOnEnter(todo_list)' ng-model='todo_list.title' type='text'>
          <div class='pull-right todo_list-options' ng-show='optionsTodoList'>
            <span class='glyphicon glyphicon-pencil' id='edit-todo_list-{{todo_list.id}}' ng-click='toggleTodoListEdit()'></span>
            <span class='glyphicon glyphicon-move'></span>
            <span class='glyphicon glyphicon-trash' id='del-todo_list-{{todo_list.id}}' ng-click='deleteTodoList(todo_list.id)'></span>
          </div>
        </div>
      </div>
      <div class='new-todo_task' ng-class="{'empty-todo_list':!todo_list.todo_tasks.length}">
        <form name='todo_taskForm' ng-controller='TodoTaskController as todo_taskCtrl' ng-submit='submitTodoTask(todo_list.id)' novalidate>
          <div class='input-group input-group-sm'>
            <input autocomplete='off' class='form-control' id='new-todo_task' ng-model='todo_taskData.content' placeholder='Start typing here to create a task...' required type='text'>
            <div class='input-group-btn'>
              <button class='btn btn-success'>Add task</button>
            </div>
          </div>
        </form>
      </div>
      <table class='table' ng-controller='TodoTaskController as todo_taskCtrl'>
        <tbody ng-model='todo_list.todo_tasks' ui-sortable='sortableOptions'>
          <tr id='todo_task-{{todo_task.id}}' ng-class="{'not-sortable':todo_task.completed_at}" ng-mouseleave='optionsTodoTask = false' ng-mouseover='optionsTodoTask = true' ng-repeat="todo_task in todo_list.todo_tasks | orderBy: 'completed_at'">
            <td class='complete'>
              <input ng-click='updateTodoTask(todo_task)' ng-model='todo_task.completed_at' type='checkbox'>
            </td>
            <td class='todo_task-content'>
              <div class='input-group-sm'>
                <span class='view' ng-dblclick='todo_taskEdit()'>
                  {{todo_task.content}}
                  <span class='due_date' ng-show='todo_task.due_date'>{{(todo_task.due_date|date:'yyyy-MM-dd')}}</span>
                </span>
                <input autocomplete='off' autofocus class='form-control input-sm edit' id='edit-todo_task' ng-keyup='editTodoTaskOnEnter(todo_task)' ng-model='todo_task.content' type='text'>
              </div>
              <div class='todo_comments' ng-controller='TodoCommentTodoController as TodoCommentCtrl'>
                <div class='todo_comment' id='todo_comment-{{todo_comment.id}}' ng-mouseleave='optionsTodoComment = false' ng-mouseover='optionsTodoComment = true' ng-repeat='todo_comment in todo_task.todo_comments'>
                  {{todo_comment.body}}
                  <div class='pull-right' ng-show='optionsTodoComment'>
                    <span class='delete' id='del-todo_comment-{{todo_comment.id}}' ng-click='deleteTodoComment(todo_task.id, todo_comment)'>&times;</span>
                  </div>
                  <ul class='todo_attachments list-inline' ng-show='todo_comment.todo_attachments.length'>
                    <li ng-repeat='todo_attach in todo_comment.todo_attachments'>
                      <span class='glyphicon glyphicon-file'></span>
                      <a download href='{{todo_attach.file.file.url}}'>{{todo_attach.file_identifier}}</a>
                    </li>
                  </ul>
                </div>
                <div class='new-todo_comment'>
                  <form name='todo_commentForm' ng-submit='submitTodoComment(todo_task)' novalidate>
                    <textarea class='form-control input-sm' id='new-todo_comment' ng-model='todo_commentData.body' placeholder='Start type new comment...' required type='text'></textarea>
                    <button class='pull-right btn btn-sm btn-success'>Add comment</button>
                    <button class='btn btn-sm btn-primary' name='todo_attachment' ng-model='files' ngf-multiple='true' ngf-select>
                      Attach files
                    </button>
                    <div class='new-todo_attachments'>
                      <p ng-repeat='file in files'>
                        <span class='glyphicon glyphicon-file'>{{file.name}}</span>
                        <a href='' id='del-todo_attach-{{$index}}' ng-click='deleteTodoAttach($index)'>&times;</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </td>
            <td class='options-todo_task'>
              <div class='dropdown' ng-show='optionsTodoTask'>
                <span class='glyphicon glyphicon-pencil' id='edit-todo_task-{{todo_task.id}}' ng-click='toggleTodoTaskEdit()'></span>
                <span class='glyphicon glyphicon-comment' id='comment-todo_task-{{todo_task.id}}' ng-click='toggleTodoComments()'></span>
                <span class='glyphicon glyphicon-time dropdown-toggle' data-toggle='dropdown' id='due-todo_task-{{todo_task.id}}'></span>
                <span class='glyphicon glyphicon-move'></span>
                <span class='glyphicon glyphicon-trash' id='del-todo_task-{{todo_task.id}}' ng-click='deleteTodoTask(todo_list.id, todo_task)'></span>
                <ul class='dropdown-menu'>
                  <datetimepicker datetimepicker-config="{ dropdownSelector: '#due-todo_task-{{todo_task.id}}', minView: 'day' }" ng-model='todo_task.due_date' on-set-time='setDue(todo_task)'></datetimepicker>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <add-todolist>
    <div class='text-center'>
    <button class='btn btn-lg btn-primary' id='new-todo_list' ng-click='isVisible = true' ng-hide='isVisible'>
      <span class='glyphicon glyphicon-plus'></span>
      Add TODO List
    </button>
  </div>
  <form name='todo_listForm' ng-submit='todo_listForm.$valid &amp;&amp; submitTodoList()'>
    <div class='input-group' ng-show='isVisible'>
      <input class='form-control' ng-model='todo_listData.title' placeholder='Add a new Todo List' required type='text'>
      <div class='input-group-btn'>
      <button class='btn btn-primary' ng-click='isVisible = false' ng-disabled='todo_listForm.$invalid'>Add todo list</button>
      </div>
    </div>
  </form>
  </add-todolist>
</div>